html {
    font-family: 'Roboto', sans-serif;
}

.top_100-8 {
    top: calc(100% + 8px);
}

.avt ul {
    transform-origin: top right;
    animation: scale ease-in 0.1s;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.avt:hover ul {
    display: block;
}

.avt ul::before {
    content: '';
    height: 8px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.top_100-8 {
    top: calc(100% + 8px);
}

.avt ul {
    transform-origin: top right;
    animation: scale ease-in 0.1s;
}

.navIcon ul {
    animation: scale ease-in 0.1s;
    transform-origin: top right;
}

.navIcon:hover ul {
    display: flex;
}

.boder-bot {
    position: relative;
}

.boder-bot::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid #fafafa;
    width: 80%;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.avt:hover ul {
    display: block;
}

.avt ul::before {
    content: "";
    height: 8px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}