.darkmode .nav_item{
    color: #ccc;
}
.darkmode .nav_item:hover{
    color: #1a1a1a;
}
.active {
    color: #000 !important;
}

.active:hover {
    background: transparent;
}
.nav_item_wrapper {
    transition: all ease-in 0.1s;
}
.nav_onTablet {
    background: rgba(0, 0, 0, 0.4);
    
}
.nav_onTablet ul{
    animation: surfing-reverse ease-in 0.05s;
}   
.darkmode .nav_onTablet ul{
    background: #3D4048;
}
@media screen and (max-width: 900px) {
    .header_signUp_btn,
    .logo_text_onHeader,
    .viewMyRank_btn {
        display: none;
    }
    .nav_open_btn{
        display: inline;
    }
    .change_theme_mode_btn {
        margin-right: 16px;
    }

    .body {
        width: 100%;
        box-sizing: border-box;
        padding: 0 8px;
    }

    .body>div {
        margin: 0;
    }

    .footer>ul {
        display: block;
    }

    .footer>ul li:nth-child(2) {
        margin: 32px 0;
    }

    .footer>ul li {
        width: 100%;
    }

    .footer {
        padding: 32px;
    }
}

@media screen and (max-width: 500px) {

    .slider_modal,
    .search_bar_wrapper,
    .logo_text_onHeader,
    .viewMyRank_btn {
        display: none;
    }

    .change_theme_mode_btn {
        margin-right: 16px;
    }

    .body {
        width: 100%;
    }

    .footer>ul {
        display: block;
        margin-bottom: 64px;
    }

    .footer>ul li:nth-child(2) {
        margin: 32px 0;
    }

    .slider_text {
        margin: 0;
    }

    .slider_text p:nth-child(1) {
        font-size: 40px;
    }

    .footer {
        padding: 16px;
    }

    .slider_background {
        height: 100%;
    }
}