* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Nunito",sans-serif;
}

.top_100-8 {
    top: calc(100% + 8px);
}
/* 
.avt ul {
    transform-origin: top right;
    animation: scale ease-in 0.1s;
}

.navIcon ul {
    animation: scale ease-in 0.1s;
    transform-origin: top right;
}

.navIcon:hover ul {
    display: flex;
}

.boder-bot {
    position: relative;
}

.boder-bot::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid #fafafa;
    width: 80%;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.avt:hover ul {
    display: block;
}

.avt ul::before {
    content: "";
    height: 8px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}

.board_header div:first-child {
    border-top-left-radius: 12px;
}

.board_header div:last-child {
    border-top-right-radius: 12px;
}

.boardBody:last-child div:first-child {
    border-bottom-left-radius: 12px;
}

.boardBody:last-child div:last-child {
    border-bottom-right-radius: 12px;
}

.rank-item:last-child {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.rank-item::before {
    content: "";
    border-bottom: 1px solid #27272a;
    width: 76%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1070px) {
    .nav {
        display: none;
    }

    .navIcon {
        display: block;
    }

    .bodyWrapper {
        padding: 0 8px;
    }
}

@media screen and (min-width: 741px) and (max-width: 1070px) {
    .boardHeaderItem {
        width: 25%;
        font-size: 14px;
    }

    .boardBodyItem {
        width: 25%;
    }

    .boardWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .boardMain {
        width: calc(100% - 40px);
    }

    .textFooterCenter {
        display: none;
    }

    .boardWrapperRank {
        display: block;
        margin-top: 40px;
        justify-content: space-around;
        padding: 0;
    }

    .boardWrapperRank p {
        margin-left: 20px;
    }

    .boardWrapperRank ul {
        margin: 0;
        padding: 0 20px;
    }

    .contentFooter {
        justify-content: space-around;
    }

    .boardRank {
        display: flex;
    }
}

@media screen and (max-width: 740px) {
    .boardWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    .board_header {
        flex-grow: 1;
    }

    .boardHeaderItem {
        width: 25%;
        font-size: 14px;
    }

    .boardBodyItem {
        width: 25%;
    }

    .examButtonInMobile {
        display: block;
    }

    .examButton,
    .searchIcon,
    .socialFooter,
    .textFooterCenter {
        display: none;
    }

    .contentFooter {
        justify-content: center;
    }

    .boardWrapperRank {
        margin-top: 30px;
        width: 100%;
        padding: 0;
    }

    .boardTest {
        width: 100%;
    }

    .boardRank {
        width: 100%;
    }

    .containerAll {
        margin-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    .avt {
        margin-left: 8px;
    }

    .logoIcon {
        font-size: 36px;
    }

    .logoName {
        font-size: 32px;
    }

    .navIcon {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 280px) {
    .logoIcon {
        font-size: 36px;
    }

    .logoName {
        font-size: 26px;
    }

    .navIcon {
        font-size: 24px !important;
    }

    .boardWrapperRank {
        margin-top: 30px;
        width: 100%;
        padding: 4px;
    }
}

.tutorial_board_ask_wrapper {
    animation: surfing ease-in 0.2s;
}

.tutorial_board_ask_closeBtn {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #d54253;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tutorial_wrapper {
    animation: surfing ease-in 0.2s;
}

.tutorial_board_comfirmBtn {
    animation: appear ease-in 0.3s;
}

@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes surfing {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
} */

/* new */

.darkmode  .board_col_header,
.darkmode .slider_background{
    background: #353945;
}

.board {
    box-shadow: 1px 2px 4px rgb(219, 219, 219);
}

.tutorial_start_wrapper {
    right: calc(100% + 32px);
}

.tutorial_start_wrapper {
    box-shadow: 2px 4px 10px rgb(146, 146, 146);
}
.tutorial_start_btn,
.btn {
    box-shadow: 0px 0px 8px #38B6FF;
}

.footer_social {
    box-shadow: 0px 0px 8px #fff;
}

.tutorial_open_btn {
    animation: surfing ease-in 0.2s;
}

.tutorial_start_wrapper {
    animation: surfing ease-in 0.2s;
}

.tutorial_start_btn {
    animation: appear ease-in 0.3s;
}
.theme_mode_dark{
    transition: all ease-in 0.1s;
}

.darkmode{
    background: #13161B;
    color: #fff;
}

.darkmode .board{
    border-color: #51535a;
    box-shadow: 0px 0px 0px 0px #000;
}

.text-black-important{
color: black !important;
}